.form-pass {
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: auto;
}

.container-sm {
    width: 50%;
}

#logo {
    height: 40px;
    width: 50px;
    margin-right: 10px;
}

.tombol {
    text-transform: uppercase;
    border-radius: 20px;
    width: auto;
    background-color: #009147;
    border-bottom: #F08533;
    float: right;
}

/* desktop */

@media (min-width: 992px) {
    .form-pass {
        width: 100%;
        max-width: 350px;
        padding: 15px;
        margin: auto;
    }
    .container-sm {
        width: 25%;
    }